.textfield {
    padding: 12px;
    width: 80%;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    margin-bottom: 16px;
    margin-top: 8px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
}

.error {
color: red;
margin-bottom: 8px;
margin-top: -8px;
}

@media (max-width: 480px) {
  .textfield  {
    width: 100%;
  }

}