.card {
    background-color: #FFFFFF;
    max-width: 400px;
    width: 80%;
    height: auto;
    border-radius: 12px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
    padding: 24px;
    box-shadow: 0px 4px 80px rgba(190, 190, 190, 0.2);
  }